[Unit]
Description=OvenMediaEngine
After=network.target

[Service]
Type=forking
PIDFile=/var/run/ovenmediaengine.pid
WorkingDirectory=/usr/share/ovenmediaengine
Environment=LD_LIBRARY_PATH=${LD_LIBRARY_PATH}:/usr/local/lib:/usr/local/lib64:/usr/lib
ExecStart=/usr/bin/OvenMediaEngine -d
Restart=on-abort
RestartPreventExitStatus=1
StandardOutput=null
StandardError=syslog+console

[Install]
WantedBy=multi-user.target