[Unit]
Description=OvenMediaEngine
After=network.target

[Service]
Type=forking
PIDFile=/var/run/ovenmediaengine.pid
WorkingDirectory=/usr/share/ovenmediaengine
ExecStart=/usr/bin/OvenMediaEngine -d
Restart=on-abort
RestartPreventExitStatus=1
StandardOutput=null
StandardError=syslog+console

[Install]
WantedBy=multi-user.target