[Unit]
Description=OvenMediaEngine
After=network.target

[Service]
Type=simple
WorkingDirectory=/usr/share/ovenmediaengine
Environment=LD_LIBRARY_PATH=${LD_LIBRARY_PATH}:/usr/local/lib:/usr/local/lib64:/usr/lib
ExecStart=/usr/bin/OvenMediaEngine -s
Restart=always
RestartPreventExitStatus=1
StandardOutput=null
StandardError=null

[Install]
WantedBy=multi-user.target