# For macOS
.DS_Store

# Ignore output directories
bin
intermediates
logs

# Ignore pugixml's build directory
src/projects/third_party/pugixml-1.9/scripts/gmake

# For CLion
.idea
cmake-build-debug

# For Visual Studio Code
*.code-workspace
.vscode

# For information data
src/projects/main/git_info.h

# For Qt Creator
*.user
*.cflags
*.config
*.creator
*.cxxflags
*.files
*.includes
.qtc_clangd

*.o
*.d
*.pc
*.texi
*.dump
misc/oven_rtc_tester/OvenRtcTester
misc/app-ffmpeg4*
misc/FFmpeg*
misc/openh264*
misc/opt/20*
misc/opt/22*
