<?xml version="1.0" encoding="UTF-8"?>

<Server version="1">
	<Name>OvenMediaEngine</Name>
	<Hosts>
		<Host>
			<Name>default</Name>
			<!-- TODO: NEED TO CHANGE THIS IP ADDRESS -->
			<IP>192.168.0.183</IP>
			<Applications>
				<Application>
					<Name>app</Name>
					<Type>live</Type>
					<!-- under construction -->
					<Relay />
					<RelayPort>9000</RelayPort>
					<Encodes>
						<Encode>
							<Name>FHD_VP8</Name>
							<Audio>
								<Codec>opus</Codec>
								<Bitrate>128000</Bitrate>
								<Samplerate>48000</Samplerate>
								<Channel>2</Channel>
							</Audio>
							<Video>
								<!-- vp8, h264 -->
								<Codec>vp8</Codec>
								<Width>1280</Width>
								<Height>720</Height>
								<Bitrate>2000000</Bitrate>
								<Framerate>30.0</Framerate>
							</Video>
						</Encode>
						<Encode>
							<Name>FHD_H264</Name>
							<Video>
								<Codec>h264</Codec>
								<Width>1280</Width>
								<Height>720</Height>
								<Bitrate>2000000</Bitrate>
								<Framerate>30.0</Framerate>
							</Video>
						</Encode>
					</Encodes>
					<Streams>
						<Stream>
							<Name>${OriginStreamName}_o</Name>
							<Profiles>
								<Profile>FHD_VP8</Profile>
								<Profile>FHD_H264</Profile>
							</Profiles>
						</Stream>
					</Streams>
					<Providers>
						<RTMP>
							<MaxConnection>10</MaxConnection>
							<Port>1935</Port>
							<!--<OverlapStreamProcess>refresh</OverlapStreamSession>-->
							<OverlapStreamProcess>reject</OverlapStreamProcess>
						</RTMP>
					</Providers>
					<Publishers>
						<RTMP />
						<HLS>
							<SegmentDuration>3</SegmentDuration>
							<SegmentCount>3</SegmentCount>
							<CrossDomain>
								<Url>www.airensoft.com</Url>
							</CrossDomain>
						</HLS>
						<DASH>
							<SegmentDuration>5</SegmentDuration>
							<SegmentCount>5</SegmentCount>
							<CORS>
								<Url>http://www.airensoft.com</Url>
								<Url>https://www.airensoft.com</Url>
							</CORS>
						</DASH>
						<WebRTC>
							<!-- TODO: NEED TO CHANGE THIS IP ADDRESS -->
							<IP>192.168.0.183</IP>
							<MaxConnection>10</MaxConnection>
							<Port>10000/udp</Port>
							<Timeout>30000</Timeout>
							<Signalling>
								<Port>3333</Port>
							</Signalling>
						</WebRTC>
					</Publishers>
				</Application>
			</Applications>
		</Host>
	</Hosts>
</Server>