<?xml version="1.0" encoding="UTF-8"?>
<Server version="1">
	<Name>OvenMediaEngine</Name>
	<Hosts>
		<Host>
			<Name>default</Name>
			<IP>*</IP>
			<Applications>
				<Application>
					<Name>app</Name>
					<Type>live</Type>
					<Origin>
						<ListenPort>9000</ListenPort>
					</Origin>
					<Encodes>
						<Encode>
							<Name>VP8</Name>
							<Audio>
								<Codec>opus</Codec>
								<Bitrate>128000</Bitrate>
								<Samplerate>48000</Samplerate>
								<Channel>2</Channel>
							</Audio>
							<Video>
								<Codec>vp8</Codec>
								<Width>1280</Width>
								<Height>720</Height>
								<Bitrate>1500000</Bitrate>
								<Framerate>30.0</Framerate>
							</Video>
						</Encode>
						<Encode>
							<Audio>
								<Codec>aac</Codec>
								<Bitrate>128000</Bitrate>
								<Samplerate>48000</Samplerate>
								<Channel>2</Channel>
							</Audio>
							<Name>H264</Name>
							<Video>
								<Codec>h264</Codec>
								<Width>1280</Width>
								<Height>720</Height>
								<Bitrate>1500000</Bitrate>
								<Framerate>30.0</Framerate>
							</Video>
						</Encode>
					</Encodes>
					<Streams>
						<Stream>
							<Name>${OriginStreamName}_o</Name>
							<Profiles>
								<Profile>VP8</Profile>
								<Profile>H264</Profile>
							</Profiles>
						</Stream>
					</Streams>
					<Providers>
						<RTMP>
							<ListenPort>1935</ListenPort>
						</RTMP>
					</Providers>
					<Publishers>
						<HLS>
							<ListenPort>80</ListenPort>
							<SegmentDuration>5</SegmentDuration>
							<SegmentCount>3</SegmentCount>
						</HLS>
						<DASH>
							<ListenPort>80</ListenPort>
							<SegmentDuration>5</SegmentDuration>
							<SegmentCount>3</SegmentCount>
						</DASH>
						<WebRTC>
							<IceCandidates>
								<IceCandidate>*:10000-10005/udp</IceCandidate>
							</IceCandidates>
							<Timeout>30000</Timeout>
							<Signalling>
								<ListenPort>3333</ListenPort>
							</Signalling>
						</WebRTC>
					</Publishers>
				</Application>
			</Applications>
		</Host>
	</Hosts>
</Server>