name: Docker Image CI 

on:
  push:
    branches:
      - master
    paths-ignore:
      - 'dist/**'
      - 'docs/**'
      - '**.md'
  workflow_dispatch:

concurrency:
  group: '${{ github.workflow }} @ ${{ github.event.pull_request.head.label || github.head_ref || github.ref }}'
  cancel-in-progress: true

env:
  TAG: 'airensoft/ovenmediaengine:dev'

jobs:
  push_to_registry:
    name: Push Docker image to Docker Hub
    runs-on: ubuntu-22.04
    permissions:
      packages: write
      contents: read
      attestations: write
      id-token: write
    steps:
      - name: Notify to Slack
        uses: slackapi/slack-github-action@v1.26.0
        with:
          payload: |
            {
              "branch": "${{ github.ref_name }}",
              "tag": "${{ env.TAG }}",
              "state": "Started"
            }
        env:
          SLACK_WEBHOOK_URL: ${{ secrets.ACTION_STATE_NOTIFICATION_SLACK_WEBHOOK_URL }}
      - name: Check out the repo
        uses: actions/checkout@v4
        
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
        with:
          # https://github.com/docker/setup-qemu-action/issues/198
          image: tonistiigi/binfmt:qemu-v7.0.0-28
        
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
    
      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and push
        id: push
        uses: docker/build-push-action@v6
        with:
          context: .
          file: ./Dockerfile
          push: true
          tags: ${{ env.TAG }}
          platforms: |
            linux/amd64
            linux/arm64

      - name: Notify to Slack
        if: always()
        uses: slackapi/slack-github-action@v1.26.0
        with:
          payload: |
            {
              "branch": "${{ github.ref_name }}",
              "tag": "${{ env.TAG }}",
              "state": "${{ job.status }}"
            }
        env:
          SLACK_WEBHOOK_URL: ${{ secrets.ACTION_STATE_NOTIFICATION_SLACK_WEBHOOK_URL }}
